.container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 512px;
    margin: 0 auto;
}

.square {
    border: 1px solid black;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}